header {
    width: 100%;
    overflow-x: scroll;
    padding: 10px;
    box-sizing: border-box;
}


#filter ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
header {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#filter ul li{
    
    border: 1px solid rgb(65, 65, 65);
    padding: 7px 25px;
    border-radius: 20px;
    font-size: 16px;
    margin:0 10px;
}

 .selected {
    cursor: pointer;
    color: rgb(79, 197, 71);
    border: 1px solid rgb(64, 141, 59) !important;
    background-color: rgba(144, 236, 137, 0.18);
    font-weight: 500;
}


