.search-ico {
    display: inline-block;
    vertical-align: middle;
}

.back-ico {
    display: inline-block;
    vertical-align: middle;
}

#top{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#filter{
    width: 100%;
}

#filter ul {
    list-style: none;
    display: flex;
}

#filter ul li {
    
    border: 1px solid white;
    padding: 7px 25px;
    border-radius: 20px;
    font-size: 16px;
    margin:0 10px;
}

#filter ul li:hover {
    cursor: pointer;
    color: #04e413;
    border: 1px solid var(--GN500, #00AA5B);
    background-color: rgba(46, 135, 40, 0.18);
}




#filter ul li a {
    text-decoration: none;
    color: white;
}

#filter ul li a:active {
    cursor: pointer;
    color: #04e413;
    border: 1px solid var(--GN500, #00AA5B);
    background-color: rgba(46, 135, 40, 0.18);
}

header{
    width: 95%;
    height: 20vh;
    margin:0 auto;
    background-color: firebrick;
    position: fixed;
}