.card {
    width: 250px;
    display: inline-block;
    height: 450px;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 2px 10px 17px 3px rgba(0, 0, 0, 0.28);
        -webkit-box-shadow: 2px 10px 17px 3px rgba(0, 0, 0, 0.28);
        -moz-box-shadow: 2px 10px 17px 3px rgba(0, 0, 0, 0.28);
}

.card-img{
    position: absolute;
    width: 100%;
    height: 100%;
}

.card-content{
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 99;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.red-bg{
    margin-right: 10px;
    background-color: rgb(219, 60, 60);
    color: white;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 5px;
}

.blur-bg{
    background-color: rgb(99, 99, 99);
    padding: 2px 5px;
    color: white;
    font-weight: 500;
    font-size: 16px;
    border-radius: 5px;
}

.top{
    justify-self: start;
}
.bottom {
    font-size: 12px;
    justify-self: flex-end;
}

.bottom span{
    font-size: 12px;
    font-weight: 300 ;
    margin: 0;
    font-size: 11px;
}

.green-bg{
    
    display: inline-block;
    background-color: rgb(0, 170, 91);
    padding: 4px 6px;
    border-radius: 5px;
    color: white;
    font-weight: 500 !important;
}

.bg-transparent{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.0), rgba(0, 0, 0, 0.527));
}

.title{
    margin: 0;
    font-size: 24px;
    color: white;
    font-weight: 400;
}

.sub-title{
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: white;
}